// .chat {
//   .chat-input {
//     width: 100%;
//     input {
//       width: 100%;
//       padding: 20px 150px 20px 40px;
//       border-radius: 50px;
//       height: 102px;
//       color: #8e8e8e;
//       font-size: 18px;
//       border: 1px solid #c6c6c6;
//       position: relative;
//       &::placeholder {
//         color: #8e8e8e;
//       }
//     }
//     .btns {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       gap: 30px;
//       position: absolute;
//       bottom: 35px;
//       right: 35px;
//       img {
//         cursor: pointer;
//       }
//     }
//   }
// }
