// .hero {
//   background-image: url("/src/assets/images/banner2.png");
//   height: 711px;
//   gap: 12px; 
//   z-index: 1;
//   background-repeat: no-repeat;   
//   background-size: cover;          
//   background-position: center;     
  // .hero-logo {
  //   position: absolute;
  //   top: 30px;
  //   left: 30px;
  // }

  // .hero-layer {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   inset: 0;
  //   border-radius: 50px;
  //   background: rgba(0, 0, 0, 0.1);
  //   z-index: -1;
  // }

  // .hero-title {
  //   font-size: 65px;
  //   font-weight: 600;
  //   max-width: 836px;
  //   text-align: center;
  //   color: #fff;
  // }

  // .hero-text {
  //   font-weight: 500;
  //   max-width: 662px;
  //   text-align: center;
  //   color: #fff;
  // }
  // .chat-input {
  //   position: absolute;
  //   bottom: -10%;
  //   left: 0;
  //   z-index: 3;
  //   width: 100%;
  //   max-width: 1338px;
  //   input {
  //     width: 100%;
  //     padding: 20px 150px 20px 40px;
  //     border-radius: 50px;
  //     height: 102px;
  //     color: #8e8e8e;
  //     font-size: 18px;
  //     border: 1px solid #c6c6c6;
  //     position: relative;
  //     &::placeholder {
  //       color: #8e8e8e;
  //     }
  //   }
  //   .btns {
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     gap: 30px;
  //     position: absolute;
  //     bottom: 35px;
  //     right: 35px;
  //     img{
  //       cursor: pointer;
  //     }
  //   }
  // }
// }


.hero{
  background-image: url("/images/mobile-banner2.png");

  @media (min-width: 640px) {
    background-image: url("/images/banner2.png");
  }
}