// .services {
//   display: flex;
//   flex-direction: column;
//   gap: 40px;
//   h2 {
//     font-size: 56px;
//     font-weight: 600;
//     color: black;
//     text-align: center;
//   }
//   .service-cards {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     gap: 20px;
//     .card {
//       max-width: 425px;
//       width: 100%;
//       height: 200px;
//       background: #ffffff;
//       border-radius: 50px;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//       gap: 20px;
//       transition: all 0.3s ease;
//       box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15); // drop shadow

//       img {
//         width: 56px;
//         height: 56px;
//         transition: filter 0.3s ease;
//       }

//       h5 {
//         font-size: 24px;
//         color: black;
//         font-weight: 600;
//         transition: color 0.3s ease;
//         text-align: center;
//       }

//       &:hover {
//         background: #ff8000;
//         box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25); // stronger shadow on hover

//         h5 {
//           color: white;
//         }

//         img {
//           filter: brightness(0) invert(1);
//         }
//       }
//     }
//   }
// }

 