name: EASY Bali CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy-render:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Trigger Render Deploy
        run: |
          echo "Triggering Render webhook"
          curl -X POST "https://api.render.com/deploy/srv-d6ekq6buibrs73df3e80?key=rnd_H6Xd7sAYZ9acxXunVReAIBE91BvE"
